<!DOCTYPE html>
<html>
<head>
  <title>Submit Data</title>
</head>
<body>
  <h2>Submit Your Info</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for msg in messages %}
          <li style="color: red;">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="POST">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
